@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: $primary-bg;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4 {
  font-family: 'Roboto', sans-serif;
}

button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em 1em;
  border: 0;
  font-weight: 500;
  background-color: transparent;
  border-radius: 3px;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 0 2px 5px rgba($color: #3083a7, $alpha: 0.3);
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: $primary-color;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: $primary-color;
  overflow: hidden;
  border-radius: 0.25em;
}
select {
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: $primary-dark;
  color: #fff;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
/* Transition */
.select:hover::after {
  color: #fff;
}
