$primary-color: #3083a7;
$primary-dark: #04577a;
$primary-bg: #f8f8f8;
$white: #fff;
$gray: #bebebe;
$gradient: linear-gradient(-225deg, #473b7b 0%, #3584a7 51%, #30d2be 100%);
$dark: #3d3d3d;
$dark-fade: #838383;
